body{
    background-image: url("mangobg.jpg.webp");
    background-color: mistyrose;
    max-width: 100%;
    height: auto;

}
h1{
    color: orange;
    text-align: center;
    font-size: 50px;
    font-family: Georgia;
}
h2{
    color: dar blue;
    text-align: left;
    font-size: 35px;
}
ol{
    color: darkblue;
    font-size: 25px;
    font-family: arial;
}
ul{
    color: darkblue;
    font-size: 25px;
    font-family: arial;
} 
